body 	{background-color lightgray; margin: 0px;}
form		{color: black; text-align: left;}


.header {
	background-color: gray; 
	color: #f5f5dc;
	height: 18vh; 
	width: 100%; 
	font-size: 28px; 
	text-align: center; 
	padding: 0px; 
	margin: 0px;
	}




.content {
	background-color: gray;
	 
	height: 100%; 
	width: 100%;
	}
	



.footer { 
	background-color: gray; 
	color: white;
	height: 15 vh; 
	width: 100%; 
	clear: both; 
	text-align: center;
	position:fixed;
    bottom:0;
	}
}
ul {
	list-style-type: none; 
	background-color: maroon; 
	margin: 0px; 
	padding: 0px; 
	overflow: hidden;
	}
li {
	float: left; 
	padding: 0; 
	margin: 0px
	}

li a {
	display inline-block; 
	color: gray; 
	text-align: center; 
	text-decoration: none; 
	padding 40px 16px; 
	margin: 0px;
	}

li a:hover {
	background-color: lightgray;
	}

